[submodule "libraries/SDL"]
	path = libraries/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "libraries/glad"]
	path = libraries/glad
	url = https://github.com/Dav1dde/glad
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm
